.nav-link {
    color: red;
  }
  
  /* visited link */
  /*a:visited {
    color: green;
  }
  
  /* mouse over link */
  /*a:hover {
    color: hotpink;
  }*l
  
  /* selected link 
  a:active {
    color: blue;
  }*/